{% extends '@App/Default/base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="row">
            <button class="btn btn-primary js-btn-add-stamp">Добавить</button>
            <div class="container">
                <div class="row">
                    <div class="js-new-stamp-container">

                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <table class="table">
                <thead>
                    <th>ID</th>
                    <th>Имя</th>
                    <th>Изображение</th>
                    <th></th>
                </thead>
                {% for stamp in stamps %}
                    <tr>
                        <td>{{ stamp.id }}</td>
                        <td>{{ stamp.title }}</td>
                        <td><img src="{{ stamp.imageSrc }}" width="100" height="100"></td>
                        <td>
                            <button class="btn btn-primary js-remove-stamp" data-url-remove="{{ path('app_stamps_remove', {"id": stamp.id }) }}">Удалить</button></td>
                    </tr>
                {% endfor %}

            </table>
        </div>
    </div>


{% endblock %}

{% block javascripts %}
    <script>
        $(document).ready(() => {
            const $addNewStampBtn = $('.js-btn-add-stamp');
            const $containerForForm = $('.js-new-stamp-container');
            const url = '{{ path('app_stamps_new_stamp') }}';
            const $btnsRemove = $('.js-remove-stamp');

            $btnsRemove.on('click', (event) => {
                const btn = $(event.currentTarget);
                const url = btn.data('url-remove');

                $.ajax(url, {
                    success: (res) => {
                        if (res.status === 'success') {
                            btn.parent().parent().remove();
                        } else {
                            alert(res.message);
                        }
                    }
                });
            });

            $addNewStampBtn.on('click', () => {
                $.ajax(url, {
                    success: (res) => {
                        if (res.status === 'success') {
                            $containerForForm.html(res.html);
                        } else {
                            alert(res.message);
                        }
                    }
                });
            });
        });
    </script>
{% endblock %}
