{% extends '@App/Default/base.html.twig' %}

{% block body %}
    {% if app.request.hasPreviousSession %}
        {% for type, messages in app.session.flashbag.all() %}
            {% for message in messages %}
                <div class="alert alert-{{ type }}">
                    {{ message }}
                </div>
            {% endfor %}
        {% endfor %}
    {% endif %}

    {% if error %}
        <div class="alert alert-danger" role="alert">
            {{ error.messageKey|trans(error.messageData, 'security') }}
        </div>
    {% endif %}

    <div class="container">
        <div class="row">
            <div class="col-md-4"></div>
            <div class="col-md-4">
                <form action="{{ path("fos_user_security_check") }}" method="post" class="form-signin">
                    <input type="hidden" name="_csrf_token" value="{{ csrf_token }}">

                    <h2 class="form-signin-heading">Пожалуйста войдите</h2>
                    <label for="username" class="sr-only"></label>
                    <input type="text" id="username" name="_username" value="{{ last_username }}"
                           placeholder="Username" class="form-control" required autofocus>
                    <label for="password" class="sr-only"></label>
                    <input type="password" id="password" name="_password" class="form-control"
                           placeholder="Password" required>
                    <div class="checkbox">
                        <label>
                            <input type="checkbox"
                                   id="remember_me"
                                   name="_remember_me"
                                   value="on"> Запомнить меня
                        </label>
                    </div>
                    <input type="submit"
                           class="btn btn-sm btn-primary btn-block"
                           id="_submit"
                           name="_submit"
                           value="Войти">
                </form>
            </div>
            <div class="col-md-4"></div>
        </div>

    </div>
{% endblock %}
