{% extends '@App/Default/base.html.twig' %}

{% set russianNamesForAddress = constant('AppBundle\\Entity\\CargoContract::TRANSLATE_FOR_ADRESS') %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-md-5">
                <form class="js-create-address" action="{{ path('app_address_create') }}">
                    <div class="form-group row">
                        <label for="${value}" class="col-sm-1 col-form-label">Имя</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" name="name">
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-sm-5">
                            <label for="${value}" class="col-sm-5 col-form-label">Тип</label>
                            <select class="form-control " name="type">
                            {% for value, type in types %}
                                <option value="{{ value }}">{{ russianNamesForAddress[type] }}</option>
                            {% endfor %}
                            </select>
                        </div>
                    </div>
                    <input class="btn btn-primary" type="submit" value="Создать">
                </form>
            </div>
            <div class="col-md-7">
                <table class="table">
                    <thead>
                    <th>Название</th>
                    <th>Тип</th>
                    </thead>
                    <tbody>
                    {% for address in addresses %}
                        <tr>
                            <td>{{ address.name }}</td>
                            <td>{{ address.namedType }}</td>
                            <td>
                                <button class="js-btn-delete btn btn-primary"
                                        data-url-to-delete="{{ path('app_address_delete', {'id': address.id}) }}">
                                    Удалить
                                </button>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script>
        $(document).ready(() => {
            const $btns = $('.js-btn-delete');
            const $form = $('.js-create-address');
            const $select = $('select[name=type]');

            $form.on('submit', (event) => {
               event.preventDefault();
               event.stopPropagation();

               const url = $form.attr('action');
               const name = $form.find('input[name=name]').val();
               const type =  $select.children("option:selected").val();

               $.ajax({
                   data: {
                       name: name,
                       type: type
                   },
                   url: url,
                   success: (res) => {
                       if (res.status === 'success') {
                           alert(res.message);
                           window.location.reload();
                       } else {
                           alert(res.message);
                       }
                   }
               })
            });

            $btns.on('click', (event) => {
                const $btn = $(event.currentTarget);
                const url = $btn.data('url-to-delete');
                const $tr = $btn.parent().parent();

                $.ajax({
                    beforeSend: () => {
                        $btn.attr('disabled', true);
                    },
                    url: url,
                    success: (res) => {
                        if (res.status === 'success') {
                            $tr.remove();
                        } else {
                            alert(res.message);
                            $btn.attr('disabled', false);
                        }
                    }
                });
            });
        });
    </script>
{% endblock %}
