    {% extends '@App/Default/base.html.twig' %}

    {% block body %}
        DOCUMENTЫ

        <table class="table table-striped ">
            <thead>
            <th>ID</th>
            <th>FileName</th>
            <th>Title</th>
            <th>Columns</th>
            <th>FilePath</th>
            </thead>
            <tbody>
                {% for document in documents %}
                    <tr>
                        <td>{{ document.id }}</td>
                        <td>{{ document.fileName }}</td>
                        <td>{{ document.title }}</td>
                        <td>{{ document.transformArrayToString }}</td>
                        <td>{{ document.filePath }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>

        <button class="js-btn-add-doc">Add</button>
        <div class="container">
            <div class="row">
                <div class="js-new-doc-container"></div>
            </div>
        </div>
    {% endblock %}

    {% block javascripts %}
        <script>
            $(document).ready(() => {
                const $addNewStampBtn = $('.js-btn-add-doc');
                const $containerForForm = $('.js-new-doc-container');
                const url = '{{ path('app_documents_create_new') }}';

                $addNewStampBtn.on('click', () => {
                    $.ajax(url, {
                        success: (res) => {
                            if (res.status === 'success') {
                                $containerForForm.html(res.html);
                            } else {
                                alert(res.message);
                            }
                        }
                    });
                });
            })
        </script>
    {% endblock %}
