{% extends '@App/Default/base.html.twig' %}

{% set russianNames = constant('AppBundle\\Entity\\Document::RUSSIAN_TITLES') %}
{% set russianNamesForAddress = constant('AppBundle\\Entity\\CargoContract::TRANSLATE_FOR_ADRESS') %}

{% block body %}
    <h2 align="center">Контракты</h2>

    <div class="container">
        <div class="row">
            <button class=" btn btn-primary js-btn-add-contract">Добавить контракт</button>
            <div class="js-new-contract-container" style="display: none">
                <div class="container">
                    <div class="row">
                        <div class="col-md-5">
                            <form action="{{ path('app_contracts_create_contract') }}" method="post" class="form-contract-create">
                                <select name="documents" class="form-control select-docs">
                                    {% for document in documents %}
                                        <option value="{{ document.id }}"
                                                {{ loop.first ? 'selected' : '' }}
                                                data-array-values="{{ document.mergeFieldsWithoutNotUsedFields|json_encode }}"
                                        >{{ document.russinTitle }}</option>
                                    {% endfor %}
                                </select> <br>

                                <div class="fields"></div>
                                <input class="btn btn-primary" type="submit" value="Создать">
                            </form>
                        </div>
                        <div class="col-md-3">
                            <table class="table">
                                <thead>
                                <th>Имя росписи</th>
                                <th>Изображение</th>
                                </thead>
                                <tbody>
                                {% for stamp in stamps %}
                                    <tr>
                                        <td>{{ stamp.title }}</td>
                                        <td><img src="{{ stamp.imageSrc }}" width="100" height="100"></td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row" style="margin-bottom: 100px">
            {% for key, contracts in contracts %}
                <div class="">
                    <h3 class="btn btn-info btn-contracts">{{ russianNames[key] }}</h3>
                    <div style="display: none">
                        {{ include('@App/Contracts/table.html.twig', {"contracts": contracts, "key": key}) }}
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>


    <div class="js-data-for-cargo" style="display: none">
        <div class="form-group row">
            {% for name, address in addresses %}
            <label class="col-sm-5 col-form-label">{{russianNamesForAddress[name]}}</label>
            <div class="col-sm-7">
                <select class="form-control" name="{{name}}">
                    {% for name in address %}
                        <option value="{{ name }}">{{ name }}</option>
                    {% endfor %}
                </select>
            </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script>
        $(document).ready(() => {
            const $addNewStampBtn = $('.js-btn-add-contract');
            const $containerForForm = $('.js-new-contract-container');
            const $btnsForRemove = $('.js-remove-contract');
            const $select = $('.select-docs');
            const $fields = $('.fields');

            $('.btn-contracts').on('click', (event) => {
                $(event.currentTarget).next().toggle();
            });

            $btnsForRemove.on('click', (event) => {
                const $btn = $(event.currentTarget);
                const $tr = $btn.parent().parent();

                $.ajax($btn.data('url-for-remove'), {
                    beforeSend: () => {
                        $btn.attr('disabled', true);
                    },
                    success: (res) => {
                        if (res.status === 'success') {
                            $tr.remove();
                        } else {
                            alert(res.message);
                            $btn.attr('disabled', false);
                        }
                    },
                });
            });

            $addNewStampBtn.on('click', () => {
                $containerForForm.toggle();
            });

            $fields.html(getInputFields($select.children("option:selected").data('array-values')));

            $select.on('change', function () {
                const arrayValues = $(this).children("option:selected").data('array-values');

                let html = getInputFields(arrayValues);

                if (0 === html.length) {
                    html = 'Полей не найдено';
                }

                $fields.html(html);
                console.log($(this).val());
                // its CargoContract id
                // need customfields
                if ($(this).val() === '3') {
                    const block = $('.js-data-for-cargo');
                    const html = block.show().html();

                    $fields.append(html);

                    block.remove();
                }
            });

            function getInputFields(obj) {
                let html = '';

                if (null === obj) {
                    return '';
                }

                if (0 !== obj.length) {

                    for (let prop in obj) {
                        html += getInput(prop, obj[prop]);
                    }
                }

                return html;
            }

            function getInput(name, value) {
                return `
                    <div class="form-group row">
                        <label for="${value}" class="col-sm-5 col-form-label">${name}</label>
                        <div class="col-sm-7">
                          <input type="text" class="form-control" id="${value}" name="${value}" placeholder="${name}">
                        </div>
                    </div>
                `;
            }
        });
    </script>
{% endblock %}
