<table class="table">
    <thead></thead>
    <tbody>
    {% if contracts %}
        {% for contract in contracts %}
            <tr>
                <td>{{ contract.id }}</td>
                <td>{{ contract.title }}</td>
                <td>{{ contract.dateCreated|date('d/m/Y h:i') }}</td>
                <td>
                    <a class="btn btn-sm btn-primary" href="{{ path('app_contracts_download', {"id": contract.id, "key": key}) }}">Скачать</a>
                    <button class="btn btn-sm btn-primary js-remove-contract" data-url-for-remove="{{ path('app_contracts_remove', {"id": contract.id, "key": key}) }}">Удалить</button>
                </td>
            </tr>
        {% endfor %}
    {% else %}
        <tr>
            <td>Нет записей</td>
        </tr>
    {% endif %}
    </tbody>
</table>
